
body {
    font-family: sans-serif;
    background-color: #2700ff;
    color: #ffffff;
}

#Header {
    background-color:#1400ff;
    grid-area: a;
    box-shadow: 0px 10px 10px rgba(100, 100, 100, 0.49);
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: 1.5fr 2fr 2fr;
    grid-template-areas: 
           "t y"
            
            ;
}


#Logo {
    grid-area: t;
    
}


#Navn {
    grid-area: y;
    text-align: center;
    color:#fcf200;
    text-shadow: 0.5px 0.5px #171208;

    font-size: 2.5em;
    width: 100vh;
    font-size: 2.1em

}




#Historie1{
    grid-area: b;
    font-size: 2em;
    text-shadow: 0.5px 0.5px;
    margin-left: 30px;
    margin-right: 30px;
}

#Historie2{
    grid-area: c;
    font-size: 2em;
    text-shadow: 0.5px 0.5px;
    margin-left: 30px;
    margin-right: 30px;
}

#Historie3{
    grid-area: d;
    font-size: 2em;
    text-shadow: 0.5px 0.5px;
    margin-left: 30px;
    margin-right: 30px;
}

#Billed1{
    grid-area: e;

}

#Billed2{
    grid-area: f;
    
}

#Billed3 {
    grid-area: g;
}

footer {
    grid-area: h;
    padding-left: 2em;
}

#pagewrap, #pagewrap2, #pagewrap3, #Opskrift1, #Opskrift2 {
    box-shadow: inset 0px 5px 20px 0px black;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 15px;
}

#pagewrap {
        
        display: grid;
        grid-gap: 0.5em;
        grid-template-columns: 2fr 2fr 2fr;
        grid-template-areas: 
            "a a a"
            "b b e"
            "f c c"
            "d d g"
            "h h h"
            
            ;
        background-image: url("pattern.png");
        padding-bottom: 30px;
    }

#Opskrifttekst1 {
    grid-area: a;
    color: black;
    font-size: 1em;
    margin-left: 30px;
    margin-right: 30px;
    line-height: 1.1em
}

#Opskriftbillede1 {
    grid-area: b;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px
}

#Opskrift1{
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
            "a b";
    background-image: url("pattern2.png");
    
}

#pagewrap2 {
        display: grid;
        grid-gap: 0.5em;
        grid-template-columns: 2fr 2fr 2fr;
        grid-template-areas: 
            "a a a"
            "e b b"
            "c c f"
            "h h h"
            
            ;
        background-image: url("pattern.png");
        padding-bottom: 30px;
    }

#Opskrifttekst2 {
    grid-area: c;
    color: black;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 1em;
    line-height: 1.1em;

}

#Opskriftbillede2 {
    grid-area: d;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
}

#Opskrift2{
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
            "c d";
    background-image: url("pattern2.png");

}

#Historie4{
    grid-area: b;
    font-size: 2em;
    text-shadow: 0.5px 0.5px;
    margin-left: 30px;
    margin-right: 30px;
}

#Historie5{
    grid-area: c;
    font-size: 2em;
    text-shadow: 0.5px 0.5px;
    margin-left: 30px;
    margin-right: 30px;

}




#Billed4 {
    grid-area: e;
}

#Billed5{
    grid-area: f;
    
}

#pagewrap3 {
    display: grid;
        grid-gap: 0.5em;
        grid-template-columns: 2fr 2fr 2fr;
        grid-template-areas: 
            "a a a"
            "c c c"
            "f f f"
            "h h h"
            
            ;
        background-image: url("pattern.png");
        padding-bottom: 30px;
    }

#Billed6 {
    grid-area: f;
}

#Historie6{
    grid-area: c;
    font-size: 2em;
    text-shadow: 0.5px 0.5px;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}

#Billed1 img, #Billed2 img, #Billed3 img, #Billed4 img, #Billed5 img, #Billed6 img {
    height: 60vh;
}

#Opskriftbillede1, #Opskriftbillede2{
    width: 40em;
}

#Header1{
    grid-area: a;
    margin-bottom: auto;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    font-size: 2em
}

#Logo1{
    grid-area: b;
    width: 8em
}

#Overskrift1{
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-areas: 
        "b a";
    margin-top: 1em;
    margin-bottom: 1em;
}

#Header2{
    grid-area: a;
    margin-bottom: auto;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    font-size: 2em
}

#Logo2{
    grid-area: b;
    width: 8em
}

#Overskrift2{
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-areas: 
        "b a";
    margin-top: 1em;
    margin-bottom: 1em;
}

@media screen and (max-width: 1200px) {
    body {
    font-family: sans-serif;
    background-color: #2700ff;
    color: #ffffff;
}

header {
    background-color:#1400ff;
    grid-area: a;
    box-shadow: 0px 10px 10px rgba(100, 100, 100, 0.49);
    
    
}



#Header {
     display: grid;
        grid-gap: 0.5em;
        grid-template-columns: 1.5fr 2fr 2fr;
        grid-template-areas: 
           "t y";
}


#Logo {
    grid-area: t;
    width: 10em;
}


#Navn {
    grid-area: y;
    color:#fcf200;
    text-shadow: 0.5px 0.5px #171208;
    font-size: 1.8em;
    margin-left: 2.5em;
    align-content: center;
    width: 100%;
}



#Historie1{
    grid-area: b;
    font-size: 2em;
    text-shadow: 0.5px 0.5px;
    margin-left: 30px;
    margin-right: 30px;
}

#Historie2{
    grid-area: c;
    font-size: 2em;
    text-shadow: 0.5px 0.5px;
    margin-left: 30px;
    margin-right: 30px;
}

#Historie3{
    grid-area: d;
   font-size: 2em;
    text-shadow: 0.5px 0.5px;
    margin-left: 30px;
    margin-right: 30px;
}

#Billed1{
    grid-area: e;
    margin-left: 30px;
    margin-right: 30px;
}

#Billed2{
    grid-area: f;
   margin-left: 30px;
    margin-right: 30px;
    
}


#Billed3 {
    grid-area: g;
    margin-left: 30px;
    margin-right: 30px;
}

footer {
    grid-area: h;
    padding-left: 2em;
}

#pagewrap {
        display: grid;
        grid-gap: 0.1em;
        grid-template-columns: 7fr;
        grid-template-areas: 
            "a"
            "b"
            "e"
            "c"
            "f"
            "d"
            "g"
            
            ;
    }
   
#pagewrap2 {
        display: grid;
        grid-gap: 0.5em;
        grid-template-columns: 8fr;
        grid-template-areas: 
            "b"
            "e"
            "c"
            "f"
            
            ;
    }


#pagewrap3 {
    display: grid;
        grid-gap: 0.5em;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "a"
            "c"
            "f";
    }

#Historie4{
    grid-area: b;
    font-size: 2em;
    text-shadow: 0.5px 0.5px;
    margin-left: 30px;
    margin-right: 30px;
}

#Historie5{
    grid-area: c;
    font-size: 2em;
    text-shadow: 0.5px 0.5px;
    margin-left: 30px;
    margin-right: 30px;
}




#Billed4 {
    grid-area: e;
    margin-left: 30px;
    margin-right: 30px;
}

#Billed5{
    grid-area: f;
    margin-left: 30px;
    margin-right: 30px;
    
}

#pagewrap3 {
    display: grid;
        grid-gap: 0.5em;
        grid-template-columns: 2fr 2fr 2fr;
        grid-template-areas: 
            "a a a"
            "c c c"
            "f f f"
            "h h h"
            
            ;
    }

#Billed6 {
    grid-area: f;
   margin-left: 30px;
    margin-right: 30px;
}

#Historie6{
    grid-area: c;
    font-size: 2em;
    text-shadow: 0.5px 0.5px;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}

#Billed1 img, #Billed2 img, #Billed3 img, #Billed4 img, #Billed5 img, #Billed6 img {
    width: 100%;
    height: auto;
}

#Opskriftbillede1, #Opskriftbillede2{
    width: 80vw;
    margin: auto
    }

#Opskrift1{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1 1;
        grid-template-areas: 
            "a" 
            "b";
        font-size: 1.2em;
        line-height: 1.2em;
}

#Opskrift2{
        grid-template-columns: 1fr;
        grid-template-rows: 1 1;
        grid-template-areas: 
            "c"
            "d";
        font-size: 1.2em;
        line-height: 1.2em;
}
#pagewrap, #pagewrap2, #pagewrap3{
        text-align: center
    }
    
    #Header1{
        font-size: 1.5em
    }    
    
    #Logo1{
        width: 6em
    }
    #Header2{
        font-size: 1.5em
    }    
    
    #Logo2{
        width: 6em
    }
}
@media screen and (max-width: 400px){
    
    body {
    font-family: sans-serif;
    background-color: #2700ff;
  
    color: #ffffff;
        
}

    
header {
    background-color:#1400ff;
    grid-area: a;
    box-shadow: 0px 10px 10px rgba(100, 100, 100, 0.49);
    
    
}



#Header {
     display: grid;
        grid-gap: 0.5em;
        grid-template-columns: 1.5fr 2fr 2fr;
        grid-template-areas: 
           "t y";
}


#Logo {
    grid-area: t;
    width: 5em;
}


#Navn {
    grid-area: y;
    color:#fcf200;
    text-shadow: 0.5px 0.5px #171208;
    font-size: 1.1em;
    align-content: center;
    width: 100%;
}    
    
#Historie1{
    grid-area: b;
    font-size: 1.3em;
    text-shadow: 0.5px 0.5px;
    text-align: center;

    }
    
    
#Historie2{
    grid-area: c;
    font-size: 1.3em;
    text-shadow: 0.5px 0.5px;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}

#Historie3{
    grid-area: d;
   font-size: 1.3em;
    text-shadow: 0.5px 0.5px;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}

#Billed1{
    grid-area: e;
  margin-left: 30px;
    margin-right: 30px;
}

#Billed2{
    grid-area: f;
    margin-left: 30px;
    margin-right: 30px;
    
}


#Billed3 {
    grid-area: g;
  margin-left: 30px;
    margin-right: 30px;
}

footer {
    grid-area: h;
   margin-left: 30px;
    margin-right: 30px;
}

#pagewrap {
        display: grid;
        grid-gap: 0.1em;
        grid-template-columns: 7fr;
        grid-template-areas: 
            "a"
            "b"
            "e"
            "c"
            "f"
            "d"
            "g"
            
            ;
    }
   
#pagewrap2 {
        display: grid;
        grid-gap: 0.5em;
        grid-template-columns: 8fr;
        grid-template-areas: 
            "b"
            "e"
            "c"
            "f"
            
            ;
    }

#Historie4{
    grid-area: b;
    font-size: 1.3em;
    text-shadow: 0.5px 0.5px;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}

#Historie5{
    grid-area: c;
    font-size: 1.3em;
    text-shadow: 0.5px 0.5px;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}




#Billed4 {
    grid-area: e;
   margin-left: 30px;
    margin-right: 30px;
}

#Billed5{
    grid-area: f;
    margin-left: 30px;
    margin-right: 30px;
    
}

#pagewrap3 {
    display: grid;
        grid-gap: 0.5em;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "a"
            "c"
            "f";
    }

#Billed6 {
    grid-area: f;
   margin-left: 30px;
    margin-right: 30px;
    min-width: 50px;
}

#Historie6{
    grid-area: c;
   font-size: 1.3em;
    text-shadow: 0.5px 0.5px;
    text-align: center;
   
    }

#Billed1{
    grid-area: e;
   margin-left: 30px;
    margin-right: 30px;
}

#Billed2{
    grid-area: f;
    margin-left: 30px;
    margin-right: 30px;
    
}


#Billed3 {
    grid-area: g;
    margin-left: 30px;
    margin-right: 30px;
}

footer {
    grid-area: h;
   margin-left: 30px;
    margin-right: 30px;
}

#Billed1 img, #Billed2 img, #Billed3 img, #Billed4 img, #Billed5 img, #Billed6 img {
    width: 100%;
    height: auto;
}

#Opskriftbillede1, #Opskriftbillede2{
width: 1fr;
    }
    
    #Header1{
        font-size: 1.5em
    }    
    
    #Logo1{
        width: 6em
    }
    #Header2{
        font-size: 1.5em
    }    
    
    #Logo2{
        width: 6em
    }
}
